* {
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
}
.app {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app_center {
  width: 350px;
  height: 450px;
  background: linear-gradient(90deg, #18dcff, #7d5fff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #000;
}
.input {
  /* margin-top: -80px; */
}
.inputF {
  width: 210px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  border: 2px solid #fff;
  background: transparent;
  padding: 0 20px;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  box-shadow: 2px 2px 10px rgb(39, 7, 7);
}
.info h2 {
  text-transform: capitalize;
  font-size: 40px;
}
.info h2 i {
  color: #ccc;
  font-size: 40px;
  margin: 20px 20px 20px 0;
  text-shadow: 2px 2px 10px gray;
}
.info .temp {
  /* color: red; */
  font-size: 2.5rem;
}
.info .temp_min_max {
  color: #ccc;
  margin: 40px 0;
}
.box p {
  font-style: italic;
  font-size: 2rem;
  margin: 133px 0;
}
